.background-picture {
    background: url(../picture/tiananmen-003.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    width: auto;
    height: auto;
    min-height: 800px;
}

.background-picture-blur {
    background: url(../picture/tiananmen-003-blur.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    width: auto;
    height: auto;
    min-height: 800px;
}

.div-forold {
    padding-top: 20px;
    width: auto;
    height: 600px;
}

.card-style {
    margin-top: 0 !important;
}

.container-mylist {
    max-width: 550px;
}

.container-myselector {
    display: flex;
    padding-top: 16px;
    padding-bottom: 8px;
}

.container-mypagebottom {
    width: auto;
    height: 140px;
    background-color: #313131;
    /*box-shadow: 5px 0px 0px #000000;*/
    z-index: -999;
}

.container-mypaddingforhide {
    padding-top: 160px;
    padding-bottom: 160px;
}

.container-mypaddingforanlist {
    padding-top: 40px;
    padding-bottom: 30px;
}

.container-mylistcard {

}

.myquestioncard {
    white-space: pre-line;
    word-wrap: break-word;
}

.mycarddate {
    display: flex;
}

.mycontent {
    display: block;
    font-size: 14px;
    line-height: 24px;
}

.mylistforinfo {
    display: flex;
    min-height: 48px;
    box-sizing: border-box;
    padding: 0 16px;
    text-decoration: none;

}